.modal.fade{:id => 'savedsearchModal'}
  .modal-dialog
    .modal-content
      = form_for([:user, @current_user.saved_searches.build], remote: true) do |f|
        .modal-header
          %button.close{:type=>'button','data-dismiss'=>'modal'}
            &times;
          %h4.modal-title
            Saved Search
        .modal-body
          .form-group
            %label{:for => 'name'}
              Name your search
            = f.text_field :name, :class => 'form-control'
            %hr
            %label{:for => 'saved_search_id'}
              Or choose existing to update
            = f.collection_select :id, @current_user.saved_searches, :hash_id, :name,
                {include_blank: 'Create new search', selected: @saved_search.try(:hash_id)},
                :class => 'form-control'
            - @search_params.each do |k,v|
              - if k == 'relationships'
                - v.each do |k1, v1|
                  - if v1['characters']
                    = hidden_field_tag "save_search[relationships][#{k1}][partial]", true if v1.key?('partial')
                    = hidden_field_tag "save_search[relationships][#{k1}][exclude]", true if v1.key?('exclude')
                    - v1['characters'].each do |c|
                      = hidden_field_tag "save_search[relationships][#{k1}][characters][]", c
              - elsif v.kind_of? Array
                - v.each do |v1|
                  = hidden_field_tag "save_search[#{k}][]", v1
              - else
                = hidden_field_tag "save_search[#{k}]", v
        .modal-footer
          %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'}
            Nevermind
          %button.btn.btn-success{:type => 'submit'}
            Submit
