<% if has_results? %>
    <h4>
      <% if @saved_search %>
          <div>
            Search: <strong><%= @saved_search.name %></strong>
          </div>

      <% end %></h4>
    <h4 class="page-header">
      <%= link_to 'Search', root_path(search: @search_params, saved_search_id: params[:saved_search_id]) %>
      in
      <%= Fandom.name_sentence(@fandoms) %>
      <% if @fandoms.include? -1 %>
          and All Crossovers
      <% elsif @search.exclude_crossover_fandoms %>
          and All Crossovers excluding <%= Fandom.name_sentence(@crossovers) %>
      <% end %>
      <small><%= number_with_delimiter(@search_results.hits) %> Stories Found</small>
    </h4>
    <% if user_signed_in? %>
        <%= render 'search/saved_search_modal' %>
        <div class="pull-right">
          <a data-toggle="modal"
             data-target="#savedsearchModal"
             class="btn btn-success btn-block btn-sm"
             style="margin-bottom:5px">
            Save Search</a>
        </div>
    <% end %>
    <!-- TODO: graphs/stats -->
    <!-- TODO: Drilldown links / facets -->

    <% content_for(:pagination_info) do %>
        <%= page_entries_info @search_results.pagination %>
    <% end %>
    <% content_for(:pagination) do %>
      <%= paginate @search_results.pagination %>
    <% end %>

    <div>
      <%= yield :pagination_info %>
    </div>
    <div class="text-right">
      <%= yield :pagination %>
    </div>

    <div class="clearfix"></div>
<% end %>
<div id="search" data-search="<%= @search.to_json %>">
  <%= (render :partial => 'story_result', :locals => {context: @story_context, origin: 'search'}, :collection => @story_context.stories) || (render :partial => 'empty') %>
</div>

<% if has_results? %>
    <div>
      <%= yield :pagination_info %>
    </div>
    <div class="text-right">
      <%= yield :pagination %>
    </div>
<% end %>
