@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

// Angular-bootstrap, to prevent route changes
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
  min-height: 30px;
  background-color: #324e2f;
}

// Only added in development mode
.navbar-development {
  background-color: darkred;
}

.fa-margin {
  margin: 0 1px 0 1px;
}

.navbar-brand, .navbar-text, .nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}

.navbar-brand {
  height: 30px;
}

.nav > li > a, a.navbar-brand {
  color: #eee !important;
}

.nav > li > a:hover, .navbar-brand:hover {
  color: #888 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

a, .pagination>li>a {
  color: #5dba5d;
}

a:hover, .pagination>li>a:hover {
  color: #476743;
}

.pagination>.active>a {
   color: #eee;
  background-color: #5dba5d;
  border-color: #66cc66;
}

.pagination>.active>a:hover {
   color: #eee;
  background-color: #5dba5d;
  border-color: #66cc66;
}

.borderless {
  border: 0;
}

.lightning-icon {
  margin-right: 10px;
  color: yellow;
}

.overload_bg {
    background: url('../../images/harry_overload_whitebg.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 433px;
}

.xsmall {
  font-size: 80%
}

.story-summary {
  padding-bottom: 5px;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

body {
  --white: #fff;
  --black: #0c0d0e;
  --orange: #f48024;
  --yellow: #fbf2d4;
  --green: #5eba7d;
  --blue: #0077cc;
  --powder: #e1ecf4;
  --red: #d1383d;
  --black-025: #fafafb;
  --black-050: #eff0f1;
  --black-075: #e4e6e8;
  --black-100: #d6d9dc;
  --black-150: #c8ccd0;
  --black-200: #bbc0c4;
  --black-300: #9fa6ad;
  --black-350: #9199a1;
  --black-400: #848d95;
  --black-500: #6a737c;
  --black-600: #535a60;
  --black-700: #3c4146;
  --black-750: #2f3337;
  --black-800: #242729;
  --black-900: #0c0d0e;
  --orange-050: #fff7f2;
  --orange-100: #fee3cf;
  --orange-200: #fcd0ad;
  --orange-300: #f7aa6d;
  --orange-400: #f48024;
  --orange-500: #f2720c;
  --orange-600: #da670b;
  --orange-700: #bd5c00;
  --orange-800: #a35200;
  --orange-900: #874600;
  --blue-050: #f2f9ff;
  --blue-100: #cfeafe;
  --blue-200: #addafc;
  --blue-300: #6cbbf7;
  --blue-400: #379fef;
  --blue-500: #0095ff;
  --blue-600: #0077cc;
  --blue-700: #0064bd;
  --blue-800: #0054a3;
  --blue-900: #004487;
  --powder-050: #f4f8fb;
  --powder-100: #e1ecf4;
  --powder-200: #d1e5f1;
  --powder-300: #b3d3ea;
  --powder-400: #a0c7e4;
  --powder-500: #7aa7c7;
  --powder-600: #5b8db1;
  --powder-700: #39739d;
  --powder-800: #2c5777;
  --powder-900: #1e3c52;
  --green-025: #eef8f1;
  --green-050: #dcf0e2;
  --green-100: #cae8d4;
  --green-200: #a6d9b7;
  --green-300: #82ca9a;
  --green-400: #5eba7d;
  --green-500: #48a868;
  --green-600: #3d8f58;
  --green-700: #2f6f44;
  --green-800: #29603b;
  --green-900: #1e472c;
  --yellow-050: #fdf7e3;
  --yellow-100: #fbf2d4;
  --yellow-200: #f1e5bc;
  --yellow-300: #e6d178;
  --yellow-400: #e9c63f;
  --yellow-500: #ddb624;
  --yellow-600: #cea51b;
  --yellow-700: #b89516;
  --yellow-800: #9f8010;
  --yellow-900: #826a0b;
  --red-050: #fdf3f4;
  --red-100: #f9d3d7;
  --red-200: #f4b4bb;
  --red-300: #e87c87;
  --red-400: #de535e;
  --red-500: #d1383d;
  --red-600: #c02d2e;
  --red-700: #ac2726;
  --red-800: #942121;
  --red-900: #7a1819;
  --gold: #ffcc01;
  --gold-lighter: #fff4d1;
  --gold-darker: #f1b600;
  --silver: #b4b8bc;
  --silver-lighter: #e8e8e8;
  --silver-darker: #9a9c9f;
  --bronze: #caa789;
  --bronze-lighter: #f2e9e1;
  --bronze-darker: #ab825f;
  --fc-dark: #0c0d0e;
  --fc-medium: #3c4146;
  --fc-light: #6a737c;
  //--focus-ring: rgba(0,149,255,0.15);
  //--focus-ring-success: rgba(166,217,183,0.4);
  //--focus-ring-warning: rgba(233,198,63,0.4);
  //--focus-ring-error: rgba(192,45,46,0.15);
  //--focus-ring-muted: rgba(36,39,41,0.1);
  --bs-sm: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
  --bs-md: 0 1px 3px rgba(0,0,0,0.06),0 2px 6px rgba(0,0,0,0.06),0 3px 8px rgba(0,0,0,0.09);
  --bs-lg: 0 1px 4px rgba(0,0,0,0.09),0 3px 8px rgba(0,0,0,0.09),0 4px 13px rgba(0,0,0,0.13);
  --scrollbar: rgba(0,0,0,0.2);


  background-color: var(--white);
  color: var(--black-700);
}

body.theme-dark {
  --white: #2d2d2d;
  --black: #fff;
  --black-025: #393939;
  --black-050: #3d3d3d;
  --black-075: #404345;
  --black-100: #4a4e51;
  --black-150: #555a5e;
  --black-200: #697075;
  --black-300: #7d848d;
  --black-350: #959ca3;
  --black-400: #9fa6ad;
  --black-500: #acb2b8;
  --black-600: #c4c8cc;
  --black-700: #cfd2d6;
  --black-750: #dadee0;
  --black-800: #e7e8eb;
  --black-900: #f2f2f3;
  --orange-050: #473c33;
  --orange-100: #5e4433;
  --orange-200: #8d5a2f;
  --orange-300: #cc7525;
  --orange-400: #f48024;
  --orange-500: #ff901e;
  --orange-600: #ffa95e;
  --orange-700: #f8b682;
  --orange-800: #fcd6b9;
  --orange-900: #fee7d6;
  --blue-050: #233e52;
  --blue-100: #25445f;
  --blue-200: #295070;
  --blue-300: #2b5f8a;
  --blue-400: #3070ab;
  --blue-500: #378ad3;
  --blue-600: #3ca4ff;
  --blue-700: #81c4f8;
  --blue-800: #b8dffd;
  --blue-900: #d5ecfd;
  --powder-050: #414648;
  --powder-100: #3e4a52;
  --powder-200: #43525f;
  --powder-300: #4c6071;
  --powder-400: #577489;
  --powder-500: #688eac;
  --powder-600: #7badd3;
  --powder-700: #9cc3db;
  --powder-800: #cde1ee;
  --powder-900: #e5f3ff;
  --green-025: #2e4233;
  --green-050: #344b3a;
  --green-100: #3d6048;
  --green-200: #487455;
  --green-300: #4d815c;
  --green-400: #5a9e6f;
  --green-500: #63b47c;
  --green-600: #76c490;
  --green-700: #93d0a8;
  --green-800: #b3dec1;
  --green-900: #d0eada;
  --yellow-050: #464236;
  --yellow-100: #524b38;
  --yellow-200: #675c37;
  --yellow-300: #7e6f3a;
  --yellow-400: #9e883b;
  --yellow-500: #bf9f37;
  --yellow-600: #dab941;
  --yellow-700: #f1d056;
  --yellow-800: #f8df7a;
  --yellow-900: #fcedaf;
  --red-050: #572f32;
  --red-100: #723738;
  --red-200: #873f3e;
  --red-300: #9b4544;
  --red-400: #b24d49;
  --red-500: #c4524f;
  --red-600: #d25d5d;
  --red-700: #de7176;
  --red-800: #e7929a;
  --red-900: #f2c1c7;
  --gold: #ffcc01;
  --gold-lighter: #5e553c;
  --silver: #b4b8bc;
  --silver-lighter: #424242;
  --bronze: #caa789;
  --bronze-lighter: #4d433b;
  --fc-dark: var(--black-900);
  --fc-medium: var(--black-700);
  --fc-light: var(--black-500);
  //--focus-ring: rgba(55,138,211,0.15);
  //--focus-ring-success: rgba(72,116,85,0.4);
  //--focus-ring-warning: rgba(158,136,59,0.4);
  //--focus-ring-error: rgba(196,82,79,0.3);
  //--focus-ring-muted: rgba(231,232,235,0.1);
  --bs-sm: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  --bs-md: 0 1px 3px rgba(0,0,0,0.11), 0 2px 6px rgba(0, 0, 0, 0.11), 0 3px 8px rgba(0, 0, 0, 0.14);
  --bs-lg: 0 1px 4px rgba(0,0,0,0.14), 0 3px 8px rgba(0, 0, 0, 0.14), 0 4px 13px rgba(0, 0, 0, 0.18);
  --scrollbar: rgba(255,255,255,0.2);
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 25px;
}

.theme-dark .chosen-container-multi .chosen-choices,
.theme-dark .chosen-container-single .chosen-single,
.theme-dark .modal-content {
  background-color: var(--white);
  color: var(--black-700);
}

.theme-dark .chosen-container .chosen-drop {
  background-color: var(--white);
  border: 1px solid var(--black-300);
  color: var(--black-700);
}

.theme-dark .chosen-container .chosen-results {
  background-color: var(--white);
  color: var(--black-700);
}

.theme-dark .chosen-container-single .chosen-single {
  background-color: var(--white);
  background-image: linear-gradient(var(--black-025) 1%, var(--white) 15%);
  border: 1px solid var(--black-300);
  box-shadow: none;
}

.theme-dark .chosen-container-multi .chosen-results {
  background-color: var(--white);
  color: var(--black-700);
}

.theme-dark .chosen-container-multi .chosen-choices {
  background-color: var(--white);
  background-image: linear-gradient(var(--black-025) 1%, var(--white) 15%);
  border: 1px solid var(--black-300);
}

.theme-dark .chosen-container-multi .chosen-choices li.search-choice {
  background-color: var(--white);
  background-image: linear-gradient(var(--black-025) 20%, var(--black-050) 50%, var(--black-75) 52%, var(--black-100) 100%);
  border: 1px solid var(--black-300);
  box-shadow: none;
  color: var(--black-600);
}

.theme-dark code {
  color: var(--yellow-500);
  background-color: var(--black-150);
}

.theme-dark .input-group-addon {
  background-color: var(--black-075);
  border: 1px solid var(--black-300);
  color: var(--black-700);
}

.theme-dark .form-control {
  background-color: var(--white);
  border: 1px solid var(--black-300);
  color: var(--black-600);
}

.theme-dark .btn-default {
  background-color: var(--white);
  border-color: var(--black-150);
  color: var(--black-700);
}

.theme-dark .btn-default:hover {
  background-color: var(--black-075);
  color: var(--black-700);
}

.theme-dark .panel-default {
  background-color: var(--black-050);
  border-color: var(--black-150);
}

.theme-dark .panel-default .panel-footer .text-muted,
.theme-dark .panel-body .text-muted{
  color: var(--black-400);
}

.theme-dark .pagination > li > a,
.theme-dark .pagination > li > span,
.theme-dark .dropdown-menu,
.theme-dark .panel-default > .panel-footer,
.theme-dark .panel-default > .panel-heading {
  background-color: var(--black-150);
  border-color: var(--black-150);
  color: var(--black-700);
}

.theme-dark .dropdown-menu >li > a {
  color: var(--black-700);
}

.theme-dark .pagination > li > a:hover, .theme-dark .pagination > li > span:hover {
  background-color: var(--black-300);
}

.theme-dark .panel-body hr,
.theme-dark .page-header {
  border-color: var(--black-150);
}

.theme-dark .text-success {
  color: var(--green-600);
}

.theme-dark .text-warning {
  color: var(--orange-300);
}

.theme-dark .chosen-results > li.active-result.highlighted {
  background-color: var(--yellow-300);
  background-image: linear-gradient(var(--yellow-200) 20%, var(--yellow-300) 90%);
}

.theme-dark .table-striped>tbody>tr:nth-of-type(even) {
  background-color: var(--black-600);
}

.theme-dark .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--black-300);
}

.theme-dark .alert-info {
  background-color: var(--blue-100);
  border-color: var(--blue-200);
  color: var(--blue-600);
}

.theme-dark .alert-success {
  background-color: var(--green-100);
  border-color: var(--green-200);
  color: var(--green-600);
}

.theme-dark .alert-warning {
  background-color: var(--yellow-100);
  border-color: var(--yellow-200);
  color: var(--yellow-600);
}

.theme-dark .panel-success .panel-heading {
  background-color: var(--green-100);
  border-color: var(--green-200);
  color: var(--green-600);
}

.theme-dark .panel-success {
  background-color: var(--green-300);
  border-color: var(--green-200);
  color: var(--black-700);
}

.theme-dark a:hover {
  color: var(--black-300);
}

.theme-dark .btn:hover {
  color: #fff !important;
}
