%h1 Recommended Stories

%p.lead Stories you might like based on your previous activity.

.alert.alert-warning
  Recommendations are in their <strong>early stages</strong>, alpha quality. They may be terrible, or even broken. ¯\_(ツ)_/¯ Send some
  detailed feedback using the "Give Feedback" link above if you have suggestions or problems.

- @stories.each do |story|
  .story
    = render :partial => 'search/story_result', locals: { context: @story_context, story_result: story, debug_value: @recommendation_by_id[story.id], origin: 'recommendations' }
- if @stories.empty?
  .alert.alert-info
    No recommendations found. You may not have opened enough stories recently, or the recommender hasn't updated to
    include them yet.
