<header>
  <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-<%= Rails.env %>" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand <%= active_link(root_path) %>" href="/">
          <i class="fa fa-flash lightning-icon"></i>Scryer
          <% if Rails.env.development? %><strong> DEVELOPMENT</strong>
          <% end %></a>

        <p class="navbar-text"><em><%= raw Rails.configuration.taglines.sample %></em></p>
      </div>
      <ul class="nav navbar-nav nav-pills navbar-right">
        <li><a id="darkmode" href="#">🌓</a></li>
        <% if user_signed_in? %>
          <% if feature_active?(:recommender) %>
            <li class="<%= active_link(user_recommendations_path) %>"><%= link_to 'Recommendations', user_recommendations_path %></li>
          <% end %>
            <% if @current_user.queue_entries_count > 0 %>
              <li class="<%= active_link(user_queue_entries_path) %>"><%= link_to "Queue (#{@current_user.queue_entries_count})", user_queue_entries_path %></li>
            <% else %>
              <li class="<%= active_link(user_queue_entries_path) %>"><%= link_to "Queue", user_queue_entries_path %></li>
            <% end %>
            <li class="<%= active_link(user_saved_searches_path) %>"><%= link_to 'Searches', user_saved_searches_path %></li>
            <li><a data-toggle="modal" data-target="#feedbackModal">Give Feedback</a></li>
        <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
        <li><a href="https://forums.darklordpotter.net">DLP</a></li>
        <li class="<%= active_link(about_path) %>"><%= link_to 'About', about_path %></li>
        <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% unless current_user.confirmed? %>
                    <i class="fa fa-exclamation-triangle" title="Unconfirmed account"></i>
                <% end %>
                <%= current_user.username %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Manage Hidden', user_hidden_path %></li>
                <!--<li class="icon-bar"><i class="icon-wrench"></i><a href="#">Settings</a></li>-->
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>

  </nav>
</header>
